@charset "utf-8";
/*
	v1.0 | 2014-09-16
	All Device : 모든 해상도를 위한 공통 코드를 작성한다.
	모든 해상도에서 이 코드가 실행됨.
	limssong
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, mbed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea { margin:0; padding:0; border:0; font-size:100%; -webkit-text-size-adjust:none; vertical-align:baseline; }
textarea { resize:none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ol, ul, li { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { width:100%; border-collapse:collapse; border-spacing:0; }
img, select, input { vertical-align:middle; border:0; }
address, caption, cite, code, dfn, em, i, strong, th, var { font-style:normal; font-weight:normal; }
button { margin:0; padding:0; border:none; cursor:pointer; }
a { cursor:pointer; }
li { list-style:none; }
caption, th { text-align:left; }
caption { display:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
abbr, acronym { border:0; font-variant:normal; }
input, textarea, select { padding:0; font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline:none; }
legend { color:#404040; }
strong { font-weight:bold; }
button { cursor:pointer }
label { cursor:pointer; }
hr { display:none; }

/* =float 해제
----------------------------------------------------------------------------------------------------------------*/
.f_clear:after { content:"."; display:block; clear:both; height:0; visibility:hidden; }
.f_clear { display:inline-block; }
* html .f_clear { height:1%; }
.f_clear { display:block; }

/* box-sizing
----------------------------------------------------------------------------------------------------------------*/
html * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

/* = 기본 폰트
----------------------------------------------------------------------------------------------------------------*/
body { color:#666666; font-size:15px; font-family:helvetica, "나눔고딕", Nanum Gothic, ng, AppleGothic, "돋움", Dotum, serif; line-height:1.4; }

/* = Link
----------------------------------------------------------------------------------------------------------------*/
a:link,a:active { color:#666666; text-decoration:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) /* 링크영역 터치시 검정색 누르는 효과 색상변경 */; }
a:visited { color:#666666; text-decoration:none; }
a:hover { color:#666666; text-decoration:none; }

/* index */
.indexWrap { }
	.indexMenuWrap { display:none; margin:20px 0 0; }
	.indexMenuWrap ul { display:flex; align-items:center; flex-wrap:wrap; }
	.indexMenuWrap ul li { width:300px; margin:20px; color:#000000; border:1px solid #000000; border-radius:5px; text-align:center; }
	.indexMenuWrap ul li a,
	.indexMenuWrap ul li div { display:block; }
	.indexMenuWrap ul li strong { display:block; margin-bottom:5px; color:blue; font-weight:bold; }
	.indexMenuWrap ul li .thumb { position:relative; height:100px; border-bottom:1px solid #000000; background:#999; overflow:hidden; }
	.indexMenuWrap ul li .thumb img { position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%,-50%); }
	.indexMenuWrap ul li .info { padding:10px; }

	.indexPwWrap { position:absolute; top:50%; left:0; width:100%; -webkit-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0); text-align:center; }
	.indexPwWrap ul li label {  }
	.indexPwWrap ul li span { display:block; margin:10px; padding:5px 10px; border:1px solid #000000; vertical-align:middle; }
	.indexPwWrap ul li input { width:100%; color:#000000; background:none; vertical-align:middle; }
	.indexPwWrap ul li button { display:inline-block; width:50px; color:#000000; background:none; border:1px solid #000000; line-height:30px; vertical-align:middle; text-align:center; }
	.indexMenuOn .indexMenuWrap { display:block; }
	.indexMenuOn .indexPwWrap { display:none; }
	.workHistory { display:none; border:1px solid #444444; border-right:0; border-bottom:0; }
	.workHistory th,
	.workHistory td { position:relative; padding:10px; border:1px solid #444444; border-top:0; border-left:0; vertical-align:middle; }
	.workHistory thead {}
	.workHistory thead th { text-align:center; font-weight:bold; }
	.workHistory tbody {}
	.workHistory tbody th { text-align:center; font-weight:bold; }
	.workHistory tbody td {}
	.workHistory tbody th a { display:block; position:absolute; top:0; left:0; width:100%; height:100%; color:#0000FF; -webkit-transition:all 0.5s; transition:all 0.5s; background:yellow; }
	.workHistory tbody th a:hover { color:#000000; }

	.workHistory tbody a span { position:absolute; top:50%; left:0; width:100%; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
	.workHistory tbody a span:hover { text-decoration:underline; }

.my-wrap { padding:20px; font-size:16px; }
	.my-wrap a { display:block; }
	.my { height:0; overflow:hidden; line-height:1.8; background:url('bg2.jpg') top right no-repeat; background-size:cover; }
	.my-on .my { height:auto; margin:20px 0 0; padding:30px; border:5px solid #eaeaea; text-shadow:3px 3px 5px #000; }

.my-wrap2 { padding:20px; font-size:16px; }
	.my-wrap2 a { display:block; }
	.my2-on .my { height:auto; margin:20px 0 0; padding:30px; background:url('bg.jpg') no-repeat; background-size:cover; border:5px solid #eaeaea; text-shadow:3px 3px 5px #000; text-align:right; font-weight:bold; }

.Android { background:green !important; }
.iOS { color:#000000; background:silver !important; }
#useragent-w.another { color:#000000; background:white !important; }
#useragent-m.another { color:#666666; background:black !important; }